*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #3064E6;
}

nav{
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: #E630C1;
    padding: 5px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E630C1;
    padding: 5px;
    margin-top: 20px;
}

.list{
    display: flex;
    list-style: none;
    gap: 20px;
}

.footer-list{
    display: flex;
    list-style: none;
    gap: 20px;
}

li{
    background-color: #3064E6;
}

.list-item{
    padding: 10px;
    background-color: #CC88EB;
    transition: 0.8s transform ease;
    border-radius: 10px;
}

.list-item:hover{
    transform: scale(1.3);
}

.footer-item{
    padding: 10px;
    background-color: #CC88EB;
    transition: 0.8s transform ease;
    border-radius: 10px;
}

.footer-item:hover{
    transform: scale(1.3);
}

nav img{
    width: 40px;
    height: 40px;
    margin-right: auto;
    padding: auto;
}

.project-card{
    width: 300px;
    height: 600px;
    background: linear-gradient(135deg, pink, #E630C1);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card-img{
    width: 100%;
    border-radius: 9px;
    filter: grayscale(100%);
    transition: transform 0.4s ease, filter 0.6s ease;
    margin: 15px 0px;
    display: block;
}

.card-img:hover{
    transform: scale(1.1);
    filter: grayscale(0%);
    }

    .card-img:not(:hover){
        transform: scale(1);
}

.card-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
}

.card-list-item{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(180deg, #f4a1f7, #9e52f3);
    transition: all 0.4s ease;
}

.card-list-item:hover{
    color: white;
    background: black;
}

.cards-container{
    display: flex;
    gap: 20px;
}

.AboutMe{
    width: 1000px;
    height: 1000px;
    background: linear-gradient(135deg, pink, #E630C1);
    margin-top: 250px;
    margin-left: 20px;
}

